!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/kendo.common.min.css')
    link(rel='stylesheet', href='/stylesheets/kendo.kendo.min.css')
    script(src='/javascripts/jquery-1.7.1.min.js')
  body!= body
