h1 Authentication required
form(method="get", action="/authenticate")
  input(type="hidden", name="openid_identifier", value="http://www.google.com/accounts/o8/id")
  input(type="submit", value="Login using google")
h1 Welcome to Sablier
p Sablier is a simple time tracker built to scratch an immediate itch. Once logged in, just enter what you're working on in the input box, using # to tag things, and "n hours" to specify the time spent. 
p More user-friendly time parsing is to come, as well as utilities to export data for your time sheets. 
