h1 Authentication required
p Please Authenticate
p Login using OpenID
form(method="get", action="/authenticate")
  input(type="hidden", name="openid_identifier", value="http://www.google.com/accounts/o8/id")
  input(type="submit", value="Login using google")
