body {
  padding: 10px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #1B1C1F;
}

a:link {color:#1B1C1F ;text-decoration: none}
a:visited {color:#1B1C1F ;text-decoration: none}
a:active {color:#1B1C1F ;text-decoration: none}
a:hover {color:#1B1C1F ;text-decoration: underline; color: red;}

div#header{
  color:#EEE;
  font: 14px "Monaco";
  text-align: right;
  margin-right: 25px;
}

div#content{
  margin-left: 10%;
  margin-right: 10%;
  padding:45px;
  background: #CCC;
}
div#footer{
  font-size:8pt;
  color:#CCC;
  text-align:center;
}
